*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: montserrat;
}
p#data {
	border: none;
	max-height: 10em;
    height: 10%;
    margin: 0em;
    overflow-y: auto;
    text-align: center;
}
h1{
    text-align: center;
    font-family: 'Fredoka One', cursive;
  
}
.con{
    text-align: center;
    font-family: 'Fredoka One', cursive;
}
.con input{
    width: 20%;
    padding-left: 7px;
    font-family: montserrat;
    font-weight: 100;
}
nav{
    background:#fff;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #EDEEF2;
}
nav i{
    float: right;
    margin-right: 25px;
    font-size: 25px;
    margin-top: 27px;
}
nav img{
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    float: right;
    margin-top: 5px;
}
nav ul{
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 35px;
}
nav ul li a:-webkit-any-link{
    color: #F02B00;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
}
form{
    margin-top: 10px;
    margin-right: 3rem;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #F30808;
    border-radius: 2px;
    font-size: 14px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-left: 2rem;
    margin-bottom: 10px;
}
input[type="submit"]:hover{
    border-color: #F30808;
    transition: .7s;
}
.evacuate button{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #0B39AE;
    border-radius: 2px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin-left: 2rem;
    border: none;
  
}
.evacuate button a{
    color: #e9f4fb;
    font-size: 14px;
}
.evacuate button a:hover{
    color: #fff;
    text-decoration: none;
    border-color: #0B39AE;
    transition: .7s;
}
.wrapper{
    display: inline-flex;
    padding-bottom: 30px;
    padding-top: 5px;
    margin-left: 35rem;
}
.wrapper .icon{
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.wrapper .icon span{
    height: 50px;
    width: 50px;
    display: block;
    position: relative;
    background: transparent;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);  
}
.wrapper .facebook span,
.wrapper .facebook .tooltip,
.wrapper .facebook.tooltip{
    background: #3b5999;
}
.wrapper .gmail span,
.wrapper .gmail .tooltip,
.wrapper .gmail.tooltip{
    background: #fc190d;
}
.wrapper .twitter span,
.wrapper .twitter .tooltip,
.wrapper .twitter.tooltip{
    background: #46c1f6;
}
.wrapper .icon span i{
    font-size: 25px;
   line-height: 50px;
}

a:-webkit-any-link{
    text-decoration: none;
    color: #fff;

}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip{
    text-shadow: 0px -1px 0px;
}
.wrapper .facebook:hover span,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before{
    background: #3b5999;
}
.wrapper .gmail:hover span,
.wrapper .gmail:hover .tooltip,
.wrapper .gmail:hover .tooltip::before{
    background: #fc190d;
}
.wrapper .twitter:hover span,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before{
    background: #46c1f6;
}
.all label{
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 20px;
    margin-left: 39.5rem;
    margin-top: 20px;
}
@media screen and (max-width: 1050px){
	.container{
		grid-gap: 5rem;
	}
}
@media screen and (max-width: 1000px){
	form{
		width: 100%;
	}

	.login h3{
        padding-top: 10px;
        font-size: 3.5rem;
        text-align: left;
        font-family: 'Fredoka One', cursive;
	}
}
@media screen and (max-width: 900px){
	.container{
		grid-template-columns: 1fr;
	}
	.wave{
		display: none;
	}

	.login{
		justify-content: center;
	}
    nav img{
        width: 60px; 
        height: 60px;
        margin-top: 7px;
        margin-left: 20px;
    }
    .wrapper{
        display: inline-flex;
        padding-top: 10px;
        margin-left: 2rem;
    }
    .all label{
        text-align: center;
        font-size: 15px;
        margin-left: 3rem;
    }
    .login{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        margin-left: 40px;
        width: 400px;
    }
    input[type="submit"]:hover{
        border-color: #2691d9;
        transition: .7s;
    }
    .reg{
        margin: 30px 0;
        text-align: center;
        font-size: 20px;
        color: #666666;
    }
    .reg a{
        color: #2691d9;
        text-decoration: none;
    }
    .reg a:hover{
        text-decoration: underline;
    }
}
