*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}
body{
    font-family: 'Fredoka One', cursive;
}
nav{
    background:#fff;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid #EDEEF2;
    margin-bottom: 10px;
    display: flex;
}
nav i{
    float: right;
    margin-right: 25px;
    font-size: 25px;
    margin-top: 27px;
}
nav img{
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
    float: right;
    margin-top: 5px;
}
nav ul{
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 35px;
}
nav ul li a:-webkit-any-link{
    color: #F02B00;
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
}
.center{
   margin-bottom: 10px;
   margin-left: 15px;
   font-size: 20px;
   font-weight: 900;


}
.search{

    background: #EDEEF2;
    height: 40px;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 10px 10px;
    border-radius: 20px;

}
.search i{
    display: inline-block;
    color: #83859C;
    padding-right: 0.2rem;
    font-size: 1rem;
}
.search button{
    background: transparent;
    height: 40px;
    width:50px;
    border-radius: 5px;
    border: none;
}
.search input{
    height: 100%;
    width: 100%;
    padding: .2rem;
    border: none;
    transition: 2s;
    outline: none;
    background: #EDEEF2;
    padding-left: 15px;
}
table{
    width: 90%;
    table-layout: fixed;
    margin-left: 2rem;
    border-radius: 10px;
   border-collapse: collapse;
   overflow: auto;

}
thead th{
    position: sticky;
    font-size: 20px;
    font-weight: 500;
    padding: 10px;
    color: #2B2B43;

}
thead th i{
    color: #83859C;
}
tbody td{
    padding-left: 35px;

    padding-bottom: 10px;
    color: #545563;
}

.btn a{
    font-size: 20px;
    color: #4b9407;
    text-decoration: none;
}
.btn a:hover{
    font-size: 20px;
    color: #4b9407;
    text-decoration: none;
}
@media screen and (max-width: 900px){
    table{
        width: 70%;
        margin-left: 1rem;
        border-radius: 10px;
       border-collapse: collapse;
    
    }
    thead th{
        font-size: 10px;
        font-weight: 500;
        padding: 10px;
        color: #2B2B43;
    
    }
    thead th i{
        color: #83859C;
    }
    tbody td{
        padding-left: 20x;
        padding-bottom: 10px;
        color: #545563;
    }
    
    .btn a{
        font-size: 10px;
        color: #4b9407;
        text-decoration: none;
    } 
}