@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
:root{
    --main-color: #e84600;
    --color-dark: #000000;
    --text-white: #ffffff;
    --color-grey: #b1b1b3;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.container#blur.active{
    filter: blur(10px);
}
.sidebar{
    width: 320px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background: var(--main-color);
    font-family: 'Fredoka One', cursive;
}

.side-brand{
    height: 90px;
    padding-left: 1rem 0rem 1rem 2rem;
}
.side-brand img{
    align-items: center;
    margin-top: 20px;
    width: 130px;
    height: 130px;
    margin-left: 4.5rem;
}

.side-brand i{
    display: inline-block;
    padding-right: 1rem;
}
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.side-menu{
    margin-top: 80px;
}
.side-menu li{
    width: 100%;
    margin-bottom: 1.3rem;
    padding-left: 1.5rem;
}
.side-menu a{
    padding-left: 1.5rem;
    display: block;
    color: var(--text-white);
    font-size: 1.1rem;
}
.side-menu a i{
    padding-right: 0.6rem;
}
.side-menu a.active{
    background: var(--text-white);
    padding-top: 1rem;
    padding-bottom: 1rem;
   color: var(--main-color);
   border-radius: 30px 0px 0px 30px;
}
.main-content{
    margin-left: 340px;
    margin-top: 15px;
}

@media only screen and (max-width: 1200px) {
    .sidebar{
        width: 70px;
    }
    .side-brand img{
        margin-top: 20px;
        width: 60px;
        height: 60px;
        margin-left: 0;
    }
    
    .sidebar .side-brand,
    .sidebar li{
        padding-left: 0.5rem;
        text-align: center;
    }
    .sidebar li a {
        padding-left: 0rem;
    }
    .sidebar .side-brand h1,
    .sidebar li a span:last-child
    {
        display: none;
    }
    .side-menu{
        margin-top: 0rem;
    }
    .main-content{
        margin-left: 5rem;
        font-size: 10px;
        position: fixed;
    }
}